# Python
__pycache__/
*.pyc
*.pyo

# Environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Models + large files
*.h5
*.pt
*.pth
*.onnx

# large files not needed for deployment
data/raw/studentVle.csv
data/processed/interaction_matrix.csv

# OS
.DS_Store
Thumbs.db
